---
---

/* Hide theme toggle switch */
#mode-toggle {
  display: none !important;
}

/* Disable right-click, dragging, and convert to black and white */
aside#sidebar #avatar img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  filter: grayscale(100%);
}

/* Disable the theme's default zoom animation on hover */
aside#sidebar #avatar:hover {
  transform: none !important;
}